[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/glad"]
	path = lib/glad
	url = https://github.com/muffledMitosis/glad-4.4.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
